.App{
  height: 100vh;
  width: 50%;
  border: solid 1px;
  border-color: black;
  background-color:white;
  margin: auto;
  padding: 10px;

}
.App:after {
  content: "";
  display: table;
  clear: both;
}
.component {
  float: left;
}
#image{
   width: 12%;
  padding: 10px;
}
#name{
  width: 60%;
 padding: 10px;
}
#date{
  width: 20%;
 padding: 10px;
}


.letter:not(:first-of-type) { 
  margin-top: 1.5em; 
}
.letter:not(:last-of-type) { 
  margin-bottom: 1.5em; 
}  
.Name_Message:not(:first-of-type) { 
  margin-top: 3.8em; 
}
.Name_Message:not(:last-of-type) { 
  margin-bottom: 3.8em; 
}
.Date:not(:first-of-type) { 
  margin-top: 6.8em; 
}
.Date:not(:last-of-type) { 
  margin-bottom: 6.8em; 
} 
.Name_Message{
  font-size: 20px;
}
.message{
  color: rgb(152, 145, 145);
}

.letter{
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background:orange
  
}
